<!DOCTYPE html>
<html>
<head>
    <title>Broadcast</title>
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/broadcast.js"></script>
</head>
<body>
    <%= message %>
    <form action="/broadcast" method="POST">
        <input type="text" name="message" autofocus><br>
        <input type="submit" value="Send broadcast">
    </form>
    <input type="button" value="Updates warning" id="warn-update">
    <div id="ticking"></div>
</body>
</html>