<!DOCTYPE html>
<html>
<head>
    <title>Broadcast</title>
</head>
<body>
    <%= message %>
    <form action="/broadcast" method="POST">
        <input type="text" name="message" autofocus><br>
        <input type="submit" value="Send broadcast">
    </form>
</body>
</html>