<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pesterchum Online</title>

    <link rel="stylesheet" type="text/css" href="css/chat.css">

    <script type="text/javascript" src="socket.io/socket.io.js"></script>
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/core.js"></script>
    <script type="text/javascript" src="js/chat.js"></script>
    <script type="text/javascript" src="js/chat_commands.js"></script>
    <script type="text/javascript">
    function registerSocket() {
        socket.emit("register", "<%- cid %>");
    }
    </script>
</head>
<body>
    <img id="chum" src="img/chum.png">
    <div id="status">
        <span id="nick"></span>
        <div id="channel-list"></div>
    </div>
    <div id="wrapper">
        <div id="history"></div>
        <div id="names"></div>
        <form id="input-form">
            <input id="input" type="text" autocomplete="off">
            <div id="lag-indicator"></div>
        </form>
    </div>
    <audio src="snd/mention.ogg" id="sound-mention"></audio>
</body>
</html>