<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pesterchum Online</title>

    <link rel="stylesheet" type="text/css" href="css/core.css">
    <link rel="stylesheet" type="text/css" href="css/chat.css">
    <link rel="stylesheet" type="text/css" href="css/chat_mobile.css">

    <script type="text/javascript" src="socket.io/socket.io.js"></script>
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/core.js"></script>
    <script type="text/javascript" src="js/chat.js"></script>
    <script type="text/javascript" src="js/chat_commands.js"></script>
    <script type="text/javascript">
    function registerSocket() {
        socket.emit("register", "<%- cid %>");
    }
    </script>
</head>
<body>
    <img id="chum" src="img/chum.png">
    <div id="status">
        <span id="nick"></span>
        <div id="channel-list"></div>
    </div>
    <div id="wrapper">
        <div id="history"></div>
        <div id="show-names" class="pull"></div>
        <div id="names"></div>
        <form id="input-form">
            <input id="input" type="text" autocomplete="off">
            <div id="lag-indicator"></div>
        </form>
    </div>
    <div id="settings">
        Nick: <input type="text" id="nick-input" spellcheck="false" autocorrect="off" autocapitalize="off" disabled><br>
        <button id="list-memos">List memos</button>
        <div id="server-channels-wrapper">
            <div id="channels-header"><span class="channel-name">Memo</span><span class="channel-users">Users</span></div>
            <div id="server-channels"></div>
        </div>
    </div>
    <audio src="snd/mention.ogg" id="sound-mention"></audio>
</body>
</html>