<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pesterchum Online</title>
    
    <link rel="stylesheet" type="text/css" href="css/index.css">

    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/core.js"></script>
    <script type="text/javascript" src="js/index.js"></script>
</head>
<body>
    <div id="title">
        PCO <%= version %><br>
        <a href="https://docs.google.com/forms/d/e/1FAIpQLSdFoNLwtcqFoT0oDel6VI9LaVMwe4x7CYwulnkD1STN1QW1tQ/viewform" id="plsplspls" target="_blank">Please take the time to fill out this survey regarding your experiences using PCO.</a>
    </div>
    <form id="nick" method="POST" action="chat">
        Handle:<br>
        <input id="nick-input" type="text" name="nick"><br>
        <input id="nick-submit" type="submit"><br>

        <div id="error">
            Invalid handle. A handle must be between 1 and 30 characters long, must start with a letter, and may only contain letters, numbers, and the following special characters:<br>
            <span id="characters">\[]^_-|`</span>
        </div>
    </form>
</body>
</html>